// !gradient for text
@mixin textGradient($gradient) {
  background: $gradient;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
// cut text with ...
@mixin textEllipses($line) {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -moz-box;
  -moz-box-orient: vertical;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  box-orient: vertical;
  -webkit-line-clamp: $line;
}

// !:not (last-child)
@mixin notLast() {
  &:not(:last-child) {
    @content;
  }
}

// !:not (first-child)
@mixin notFirst() {
  &:not(:first-child) {
    @content;
  }
}

