:root {
  --black: #303535;
  --white: #FFFEFE;
  --red: #BF2F20;
  --light-red: #F6AEA7;
  --dark-grey: #9E9E9E;
  --grey: #CECECE;
  --light-grey: #EDEEF0;
  --btn-red: #860E01;
  --btn-light-red: #BD1E0D;
}
