
:root {
  // FONT-SIZE
  --font-size-h1: #{gem(51)};
  --font-size-h2: #{gem(36)};
  --font-size-h3: #{gem(32)};
  --font-size-h4: #{gem(24)};
  --font-size-h5: #{gem(20)};
  --body-size: #{gem(16)};
  --txt-l: #{gem(18)};
  --txt-m: #{gem(16)};
  --txt-s: #{gem(14)};
  --txt-icon-l: #{gem(40)};
  --txt-icon-m: #{gem(32)};
  --txt-icon-s: #{gem(24)};



  @media all and (max-width: 1024px) {

  }
  @media all and (max-width: 640px) {
    --font-size-h1: #{gem(40)};
    --font-size-h2: #{gem(32)};
    --font-size-h3: #{gem(24)};
    --font-size-h4: #{gem(20)};
    --font-size-h5: #{gem(18)};
    --txt-l: #{gem(16)};


  }



  //LINE-HEIGHT

  //--line-height-h1: #{gem(60)};
  //--line-height-h2: #{gem(50)};
  //--line-height-h3: #{gem(42)};
  //--line-height-h4: #{gem(34)};
  //--line-height-h5: #{gem(32)};
  //--body-line: 150%;
  //--txt-line-lg: #{gem(24)};
  //--txt-line-m: #{gem(16)};
  //--txt-line-s: 120%;



  @media all and (max-width: 1024px) {

  }
  @media all and (max-width: 640px) {

  }
}